<!DOCTYPE html>
<html>
    <head><title>codepanchayati</title></head>
    <body bgcolor="#FFEACA">
        <center>
        <h1>RESERVOIR WATER LEVEL PREDICTOR</h1>
        <form action="/predict" method = "post" >
            Reservoir level in Feet : <input type="text" , name="a",placeholder="Enter Reservoir level in Ft"> <br>
            Inflow cuesecs : <input type="text", name="b" ,placeholder = "Enter Inlow cusecs ">  <br>
            Outflow cuesecs : <input type="text" name="c" ,placeholder = 'Enter Outflow cusecs'> <br>
            <input type="submit" value="predict" >
        
		
        </form>
    </center>
    </body>
</html>
